<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全背心实时监控系统</title>
  </head>
  <body>
<js href="__PUBLIC__/Js/jquery.min.js" />
<css href="__PUBLIC__/Css/bootstrap.min.css"/>
<css href="__PUBLIC__/Css/htmleaf-demo.css"/>
<css href="__PUBLIC__/Css/demo.css"/>
<div class="container">
    <h2>使用Bootstrap创建模态框</h2>
    <div id="example" class="modal hide fade in" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>这是一个模态框标题</h3>
        </div>
        <div class="modal-body">
            <h4>模态框中的文本</h4>
            <p>你可以在这添加一些文本。</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-success">唤醒活动</a>
            <a href="#" class="btn" data-dismiss="modal">关闭</a>
        </div>
    </div>
    <p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">发动演示模态框</a></p>
</div>
</body>
</html>
